html{
    background-color: #1F2937;
    font-family:'roboto';
    width:100%;
    margin:0;
    padding:0;
    /* display:flex; */
}
body{
    width:100%;
    margin:0;
    padding:0;
    
}
/* normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* end of normalize.css */

.header{
    display:flex;
    align-items:baseline;
}
.logo{
    flex:1;
}
.links{
  display:flex;
  flex-direction: row;
  float:right;
}
.header-link{
    margin-right: 20px;
}
.header h1{
    font-size: 24px;
    color: #F9FAF8;
}
.header h2{
    font-size: 18px;
    color: #E5E7EB;
}
.action-box{
    background-color: #3882F6;
}
/* hero one stuff */
.hero-one{
    display: flex;
    /* border: 1px solid blue; */
    flex-direction: row;
    justify-content: space-evenly;
    /* align-content: center; */
    /* position: relative; */
    /* flex-wrap: nowrap; */
}
.hero-one h1{
    font-size: 48px;
    font-weight: 2600;
    color: #F9FAF8;
    line-height: 3rem;
    margin-top:10%;
    margin-bottom:0;
}
.hero-one p{
    font-size: 18px;
    color: #E5E7EB;
    line-height: auto;
    margin:none;
}
.hero-one-text{
    max-width:50%;
    /* display: inline-flex */
    /* border: 1px solid red; */
}
.hero-one-img{
    /* display: inline-flex; */
    max-width: 50%;
    /* border: 1px solid red; */
    top: 10rem;
    /* position: absolute; */
    
}
#placeholder{
    max-height: 19rem;
}
#sign-up-one{
    border:none;
    padding: 2% 9%;
    border-radius: 10px;
    width:auto;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
}
/* hero two stuff */
.hero-two{
    background: white;
    font-size: 36px;
    color: #1F2937;
    padding-top:1rem;
    margin:none;
}
.hero-two h1{
    font-size: 36px;
    text-align: center;
}
.box{
    border: 4px solid #3882F6;
    width: 8rem;
    height:8rem;
    border-radius: 15px;
    text-align: center;
    /* margin-left: 3rem; */
}
.four-box{
    display:flex;
    justify-content: center;
    margin:auto;
    max-width:80%;
}
.subtext{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    width:8rem;
}
.box-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
/* quote stuff */
.quote-hero{
    background-color: #E5E7EB;
    width:100%;
    padding:4rem 0;
}
.quote-hero h2{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding:0 4rem;
    text-align: justify;
}
.quote-hero p{
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    padding:0 4rem;

}
/* call to action stuff */
.call{
    background-color: white;
    padding: 5rem 0;
}
.action-box{
    padding: 1rem 0;
    max-width:80%;
    justify-content:space-evenly;
    align-items: center;
    border-radius:10px;
    margin:auto;
    display:flex;
}
.action-box h2{
    color: white;
}
.action-box p{
    color: white;
}
.action-text{
    flex-direction: column;
    justify-content: center;
}
.action-button{
    float:right;
}
#sign-up-two{
    border:2px solid white;
    text-align:center;
    white-space: nowrap;
    color:white;
    padding: 5% 10%;
    margin: 1rem 2rem;
    border-radius: 10px;
    width:auto;
    font-size: 18px;
    background-color: transparent;
}
/* footer text */
.footer p{
    text-align: center;
    color: white;

}